.home-page{
position: relative;
}
.home-page .banner-text {
  position: absolute;
  color: #fff;
  text-align: center;
  top: 40%;
  z-index: 5;
  width: 700px;
  height: 300px;
  line-height: 30px; /* 187.5% */
}

.home-page .banner-text h2 {
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: 40px; /* 100% */
  text-transform: capitalize;
  margin-bottom: 20px;
}
.home-page .banner-text p {
  opacity: 0.87;
  width: 626px;
  color: #fff;
  text-align: center;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 187.5% */
  text-align: center;
  margin: auto;
  line-height: 30px; /* 187.5% */
}


@media only screen and (max-width: 920px) {
 
.home-page .banner-text h2 {
  font-size: 24px;
 
}
.home-page .banner-text p {
  font-size: 16px;
  max-width: 500px;
  max-width: 400px;
  margin: auto;
}
}